{% extends 'layout.html' %}


{% block body %}


<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig5"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig7"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig8"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig9"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig10"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig11"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig12"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig13"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig14"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig15"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-3">
                    <h2 class="text-muted">Plot Description</h2>
                </div>
                <div class="col-md-9">
                    <div class="chart" id="fig16"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    
    
    Plotly.plot('fig1', {{ figure_data1 | safe}}, {});
    Plotly.plot('fig2', {{ figure_data2 | safe}}, {});
     Plotly.plot('fig3', {{ figure_data3 | safe}}, {});
     Plotly.plot('fig4', {{ figure_data4 | safe}}, {});
     Plotly.plot('fig5', {{ figure_data5 | safe}}, {});
     Plotly.plot('fig6', {{ figure_data6 | safe}}, {});
     Plotly.plot('fig7', {{ figure_data7 | safe}}, {});
     Plotly.plot('fig8', {{ figure_data8 | safe}}, {});
     Plotly.plot('fig9', {{ figure_data9 | safe}}, {});
     Plotly.plot('fig10', {{ figure_data10 | safe}}, {});
     Plotly.plot('fig11', {{ figure_data11 | safe}}, {});
     Plotly.plot('fig12', {{ figure_data12 | safe}}, {});
     Plotly.plot('fig13', {{ figure_data13 | safe}}, {});
     Plotly.plot('fig14', {{ figure_data14 | safe}}, {});
     Plotly.plot('fig15', {{ figure_data15 | safe}}, {});
     Plotly.plot('fig16', {{ figure_data16 | safe}}, {});
    //  Plotly.plot('fig17', {{ figure_data17 | safe}}, {});
</script>
</script>
</script>
{% endblock %}
