{% extends 'layout.html' %} {% block body %}
<div id="preview" class="preview">
  <div style="display: none"></div>
  <div>
    <div
      data-draggable="true"
      class=""
      style="position: relative"
      draggable="false"
    >
      <!----><!---->
      <section
        draggable="false"
        class="overflow-hidden pt-0"
        data-v-271253ee=""
      >
        <section class="mb-10 text-center text-lg-start">
          <style>
            .cascading-right {
              margin-right: -50px;
            }
            @media (max-width: 991.98px) {
              .cascading-right {
                margin-right: 0;
              }
            }
          </style>
          <!-- Jumbotron -->
          <div class="container py-4">
            <div class="row g-0 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div
                  class="card cascading-right"
                  style="
                    background: hsla(0, 0%, 100%, 0.55);
                    backdrop-filter: blur(30px);
                  "
                >
                  <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                    <h1 class="my-5 display-4 fw-bold ls-tight">
                      <span>The best offer</span> <br />
                      <span class="text-primary">for your business</span>
                    </h1>
                    <a
                      class="btn btn-primary btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2"
                      href="#"
                      role="button"
                      aria-controls="#picker-editor"
                      draggable="false"
                      >Get started</a
                    >
                    <a
                      class="btn btn-link btn-lg py-3 px-5"
                      data-ripple-color="primary"
                      href="#"
                      role="button"
                      aria-controls="#picker-editor"
                      draggable="false"
                      >Learn more</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-5 mb-lg-0">
                <img
                  src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
                  class="w-100 rounded-4 shadow-4"
                  alt=""
                  aria-controls="#picker-editor"
                  draggable="false"
                />
              </div>
            </div>
          </div>
          <!-- Jumbotron -->
        </section>
      </section>
      <!---->
    </div>
    <div
      data-draggable="true"
      class=""
      style="position: relative"
      draggable="false"
    >
      <!----><!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
          <h2 class="fw-bold mb-5 text-center">Why is it so great?</h2>
          <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
              <div
                class="bg-image rounded-5 shadow-5-strong"
                style="
                  background-image: url('https://mdbootstrap.com/img/new/textures/full/98.jpg');
                  height: 560px;
                  background-size: cover;
                  background-position: 50% 50%;
                  background-color: rgba(0, 0, 0, 0);
                "
                aria-controls="#picker-editor"
              >
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
                  <div
                    class="d-flex justify-content-center align-items-center h-100"
                  >
                    <div class="px-4 py-5 px-md-5 text-white text-center">
                      <h3 class="text-uppercase fw-bold mb-4">
                        <span>The future is</span>
                        <u style="color: hsl(210, 12%, 80%)">now</u>
                      </h3>
                      <p class="mb-0" style="color: hsl(210, 12%, 80%)">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Harum quia laboriosam error consequuntur fugit,
                        doloribus rerum, iure nesciunt amet quidem veniam
                        cupiditate hic fugiat dolore aperiam quisquam libero
                        earum quibusdam?
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 mb-4 mb-lg-0">
              <div class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                  <div
                    class="p-3 rounded-4 shadow-2-strong"
                    style="background-color: hsl(204, 30%, 20%)"
                  >
                    <i
                      class="fas fa-headset fa-lg text-white fa-fw"
                      aria-controls="#picker-editor"
                    ></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-4">
                  <p class="fw-bold mb-1">Support 24/7</p>
                  <p class="text-muted mb-0">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nihil quisquam quibusdam modi sapiente magni molestias
                    pariatur facilis reprehenderit facere aliquam ex.
                  </p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                  <div
                    class="p-3 rounded-4 shadow-2-strong"
                    style="background-color: hsl(204, 30%, 20%)"
                  >
                    <i
                      class="fas fa-shield-alt fa-lg text-white fa-fw"
                      aria-controls="#picker-editor"
                    ></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-4">
                  <p class="fw-bold mb-1">Safe and solid</p>
                  <p class="text-muted mb-0">
                    Eum nostrum fugit numquam, voluptates veniam neque quibusdam
                    ullam aspernatur odio soluta, quisquam dolore animi mollitia
                    a omnis praesentium, expedita nobis!
                  </p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                  <div
                    class="p-3 rounded-4 shadow-2-strong"
                    style="background-color: hsl(204, 30%, 20%)"
                  >
                    <i
                      class="fas fa-shipping-fast fa-lg text-white fa-fw"
                      aria-controls="#picker-editor"
                    ></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-4">
                  <p class="fw-bold mb-1">Extremely fast</p>
                  <p class="text-muted mb-0">
                    Enim cupiditate, minus nulla dolor cumque iure eveniet
                    facere ullam beatae hic voluptatibus dolores exercitationem?
                    Facilis debitis aspernatur amet nisi iure eveniet facere?
                  </p>
                </div>
              </div>
              <div class="d-flex align-items-start">
                <div class="flex-shrink-0">
                  <div
                    class="p-3 rounded-4 shadow-2-strong"
                    style="background-color: hsl(204, 30%, 20%)"
                  >
                    <i
                      class="fas fa-chart-pie fa-lg text-white fa-fw"
                      aria-controls="#picker-editor"
                    ></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-4">
                  <p class="fw-bold mb-1">Live analytics</p>
                  <p class="text-muted mb-0">
                    Illum doloremque ea, blanditiis sed dolor laborum
                    praesentium maxime sint, consectetur atque ipsum ab adipisci
                    ullam aspernatur odio soluta, quisquam dolore
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!---->
    </div>
    <div data-draggable="true" class="" style="position: relative">
      <!----><!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center text-lg-start">
          <h2 class="fw-bold mb-5 text-center">Projects we are proud of</h2>
          <div class="row gx-lg-5">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <div>
                <div
                  class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4"
                  data-mdb-ripple-color="light"
                >
                  <img
                    src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
                    class="w-100"
                    alt=""
                    aria-controls="#picker-editor"
                  />
                </div>
                <h5 class="fw-bold">Hollywood Exhibition</h5>
                <div class="mb-3 text-danger small">
                  <i class="fas fa-fire me-2" aria-controls="#picker-editor"></i
                  ><span>Hot news</span>
                </div>
                <p class="text-muted">
                  Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                  placerat vulputate. Ut vulputate est non quam dignissim
                  elementum. Donec a ullamcorper diam.
                </p>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div>
                <div
                  class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4"
                  data-mdb-ripple-color="light"
                >
                  <img
                    src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
                    class="w-100"
                    alt=""
                    aria-controls="#picker-editor"
                  />
                </div>
                <h5 class="fw-bold">Big Apple</h5>
                <div class="mb-3 text-primary small">
                  <i
                    class="fas fa-flask me-2"
                    aria-controls="#picker-editor"
                  ></i
                  ><span>Experiment</span>
                </div>
                <p class="text-muted">
                  Suspendisse in volutpat massa. Nulla facilisi. Sed aliquet
                  diam orci, nec ornare metus semper sed. Integer volutpat
                  ornare erat sit amet rutrum.
                </p>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div>
                <div
                  class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4"
                  data-mdb-ripple-color="light"
                >
                  <img
                    src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
                    class="w-100"
                    alt=""
                    aria-controls="#picker-editor"
                  />
                </div>
                <h5 class="fw-bold">Sun City</h5>
                <div class="mb-3 text-warning small">
                  <i class="fas fa-sun me-2" aria-controls="#picker-editor"></i
                  ><span>Family friendly</span>
                </div>
                <p class="text-muted">
                  Curabitur tristique, mi a mollis sagittis, metus felis mattis
                  arcu, non vehicula nisl dui quis diam. Mauris ut risus eget
                  massa volutpat feugiat. Donec.
                </p>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!---->
    </div>
  </div>
</div>
{% endblock %}
