<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Shows Analytics</title>
    <h1>Netflix Shows Analytics</h1>
</head>
<body>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.co.uk%2Fpin%2F830632725011803956%2F&psig=AOvVaw3lBWo5t2omUunHtNfQC9RA&ust=1651575044867000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCPiq58_SwPcCFQAAAAAdAAAAABAN" width="500"
height="333">    
</body>
</html>